html {
  font-size: 100px;
}
body {
  margin: 0 0.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  text-align: center;
  height: 0.6rem;
  width: 100%;
  border: 1px solid #969896;
}
header h1 {
  font-size: 0.24rem;
  display: inline-block;
  line-height: 0.6rem;
}
header h1 p {
  display: inline-block;
  font-size: 0.14rem;
}
header ul.left {
  width: auto ;
  height: .6rem;
  float: left;
  font-size: 0.14rem;
  line-height: 0.6rem;
  margin-left: 0.1rem;
  clear: both;
}
header ul.left li {
  float: left;
  height: 100%;
  width: auto;
  line-height: 0.6rem;
  margin-right: 0.6rem;
  position: relative;
}
header ul.left li p.author {
  line-height: 0.6rem;
  display: inline-block;
}
header ul.left li p.photo {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.6rem;
  display: inline-block;
  border-radius: 50%;
  /* display: block; */
  overflow: hidden;
  border: 0.01rem solid #969896;
  margin-top: 0.1rem;
}
header ul.left li p.photo img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  line-height: 0.6rem;
}
header ul.left li .username {
  position: absolute;
  top: 0;
  width: 1rem;
  display: inline-block;
  height: 100%;
}
header ul.right {
  float: right;
  line-height: .6rem;
  margin-right: .1rem;
  font-size: 0.14rem;
}
header ul.right li {
  float: left;
  height: 100%;
  line-height: 0.6rem;
}
.content {
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: auto;
  border: 0.01rem solid #969896;
}
.content .leftPart {
  width: 12%;
  float: left;
  border: 0.01rem solid #969896;
  height: 6rem;
  padding: 0.1rem;
}
.content .leftPart .menu {
  width: 90%;
  border: 0.01rem solid #969896;
}
.content .leftPart .menu li {
  border-bottom: 0.01rem solid #969896;
}
.content .leftPart .menu li h4 {
  position: relative;
  display: inline-block;
  padding: 0 0.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.2rem;
  cursor: pointer;
}
.content .leftPart .menu li h4 img {
  position: absolute;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  top: 0.09rem;
  right: -0.2rem;
}
.content .leftPart .menu li .detail {
  display: none;
  width: 100%;
  border: 0.01rem solid #969896;
}
.content .leftPart .menu li .detail li {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 0.01rem solid #969896;
}
.content .leftPart .menu li .detail li.selected {
  background: lightgray;
}
.content .leftPart .menu li .detail.show {
  display: none;
}
.content .rightPart {
  float: right;
  overflow: hidden;
  height: 6.2rem;
  width: 86.5%;
}
.content .rightPart ul {
  width: 100%;
  height: 100%;
}
.content .rightPart ul li {
  width: 100%;
  height: 100%;
  font-size: 0.14rem;
  overflow: hidden;
  border-bottom: 0.01rem solid #333;
}
.content .rightPart ul li input {
  float: left;
  display: inline-block;
  background: #fff;
  line-height: 0.3rem;
  width: 1rem;
  border: 0.01rem solid #333;
}
.content .rightPart ul li .select {
  background: lightgray;
}
.content .rightPart ul li .close {
  float: right;
  display: inline-block;
  width: 6%;
  line-height: 0.3rem;
  height: 5%;
}
.content .rightPart ul li div {
  width: 100%;
  height: 100%;
}

.content .rightPart ul li div nav {
  background: lightgray ;
  height: 0.36rem ;
  border: 0.01rem solid #797979;
  width: 100%;
  overflow: hidden;
}
.content .rightPart ul li div nav ul {
  width: auto;
  overflow: hidden;
}
.content .rightPart ul li div nav ul li {
  float: left;
  width: 0.87rem;
  border-right: 0.01rem solid #333;
  line-height: 0.36rem;
}
.content .rightPart ul li div nav ul div {
  display: inline-block;
  float: right;
  width: 50%;
}
.content .rightPart ul li div nav ul div label {
  float: left;
  display: inline-block;
  line-height: 0.36rem;
}
.content .rightPart ul li div nav ul div label input {
  display: inline-block;
  line-height: 0.36rem;
  width: .2rem;
  margin-top: 0.12rem;
}
.content .rightPart ul li div nav ul div div {
  line-height: 0.36rem;
}
.content .rightPart ul li div nav ul div div form {
  float: left;
}
.content .rightPart ul li div nav ul div div form input.fill {
  display: inline-block;
  float: right;
  width: 1.2rem;
  height: 0.18rem;
  line-height: 0.18rem;
  margin-top: 0.08rem;
}
.content .rightPart ul li div nav ul div div form input.query {
  display: inline-block;
  font-size: 0.12rem;
  float: right;
  width: 0.4rem;
  height: 0.18rem;
  line-height: 0.18rem;
  margin-top: 0.09rem;
  cursor: pointer;
}
.content .rightPart ul li div div.partBottom {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content .rightPart ul li div div.partBottom .selectLeft {
  float: left;
  width: 11.4%;
  height: 100%;
  border-right: 0.01rem solid #969896;
}
.content .rightPart ul li div div.partBottom .selectLeft ul {
  width: 100%;
  margin-left: -0.35rem;
  margin-top: 0.09rem;
}
.content .rightPart ul li div div.partBottom .selectLeft ul li {
  height: auto;
  border: none;
}
.content .rightPart ul li div div.partBottom .selectLeft ul li ul {
  width: 100%;
  margin-left: 0.02rem;
  margin-top: 0.03rem;
}
.content .rightPart ul li div div.partBottom .selectLeft ul li ul li {
  margin-left: 0.15rem;
}
.content .rightPart ul li div div.partBottom .selectLeft ul li i {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  background: url("../img/collect.png") no-repeat center center;
  background-size: 0.1rem 0.1rem;
}
.content .rightPart ul li div div.partBottom .selectLeft ul li i.open {
  width: 0.1rem;
  height: 0.1rem;
  background: url("../img/show.png") no-repeat center center;
  background-size: 0.1rem 0.1rem;
}
.content .rightPart ul li div div.partBottom .selectRight {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
}
.content .rightPart ul li div div.partBottom .selectRight div.tableWrap{
  width: 100%;
  height: 60%;
  overflow: auto;


}
.content .rightPart ul li div div.partBottom .selectRight table {
  width: 100%;
  height: auto;
  font-size: 0.14rem;
}
.content .rightPart ul li div div.partBottom .selectRight table th,
.content .rightPart ul li div div.partBottom .selectRight table tr,
.content .rightPart ul li div div.partBottom .selectRight table td {
  border: 0.01rem solid #333;
}
.content .rightPart ul li div div.partBottom .selectRight table tr {
  height: 0.3rem;
}
.content .rightPart ul li div div.partBottom .selectRight table thead {
  height: 0.3rem;
  line-height: 0.3rem;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage {
  position: absolute;
  width: 100%;
  height: 0.36rem;
  border: 0.01rem solid #969896;
  bottom: 2rem;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage form.page {
  display: inline-block;
  float: left;
  line-height: 0.36rem;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage form.page select {
  display: inline-block;
  width: 0.5rem;
  margin-left: 0.05rem;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage div.goUp {
  position: relative;
  display: inline-block;
  float: right;
  width: 16%;
  line-height: 0.36rem;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage div.goUp i {
  display: inline-block;
  cursor: pointer;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage div.goUp i.back {
  margin-right: 0.3rem;
  cursor: pointer;
}
.content .rightPart ul li div div.partBottom .selectRight div.selectPage div.goUp input {
  position: absolute;
  right: 0.9rem;
  display: inline-block;
  margin-top: 0.1rem;
  height: 0.15rem;
  width: 0.28rem;
  text-align: center;
}
.content .rightPart ul li div div.partBottom .selectRight div.bottomSection {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  border: 0.01rem solid #969896;
}
.content .rightPart ul li div div.partBottom .selectRight div.bottomSection input {
  text-align: center;
  display: inline-block;
}
.content .rightPart ul li div div.partBottom .selectRight div.bottomSection input.selected {
  background: lightgray;
}
.content .rightPart ul li div.show {
  display: block;
}
